<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="drop_sensor" params="link_name *origin">
    <link name="${link_name}"/>
    <joint name="${link_name}_joint" type="fixed">
        <parent link="base_link"/>
        <child link="${link_name}"/>
        <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>

  <xacro:drop_sensor link_name="drop_fl">
    <origin xyz="0.0351028 0.01 -0.0213898" rpy="0 1.57 0" />
  </xacro:drop_sensor>

  <xacro:drop_sensor link_name="drop_fr">
    <origin xyz="0.0351028 -0.01 -0.0213898" rpy="0 1.57 0" />
  </xacro:drop_sensor>

  <xacro:drop_sensor link_name="drop_rl">
    <origin xyz="-0.02 0.01 -0.0213898" rpy="0 1.57 0" />
  </xacro:drop_sensor>

  <xacro:drop_sensor link_name="drop_rr">
    <origin xyz="-0.02 -0.01 -0.0213898" rpy="0 1.57 0" />
  </xacro:drop_sensor>

</robot>
